---
import '@fortawesome/fontawesome-svg-core/styles.css';
import { icon } from '@fortawesome/fontawesome-svg-core';
import { faXTwitter } from '@fortawesome/free-brands-svg-icons';

const Xicon = icon(faXTwitter);
---

<footer class="w-full h-12 mt-4 bg-gray-900 flex align-center">
    <div class="max-w-7xl w-full flex justify-around items-center mx-auto my-0
             [&>a]:text-white [&>a]:no-underline">
        <a href="https://www.fyf-h.com">株式会社FYF</a>
        <a href="https://x.com/FYF_INC"><Fragment set:html={Xicon.html} /></a>
    </div>
</footer>