---
import '../styles/global.css';
---

<!doctype html>
<html lang="jp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/TCP-IP_Carta/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
