---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <section id="about">
        <h2>TCP/IP Carta とは</h2>
    </section>
    <section id="rule">
        <h2>遊び方</h2>
    </section>
    <section id="product">
        <h2>商品について</h2>
    </section>
</Layout>

<style>
    section {
        @apply max-w-7xl my-4;
    }
</style>