---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.svelte';

const title: string = "読み札ランダムピックアップ";
---

<Layout title={title}>
	<h1 class="mx-4 my-0 text-2xl font-semibold">{title}</h1>

	<Card client:load />
</Layout>
